DATABASE_URL=postgresql://neondb_owner:npg_pstQ0c1NzdHF@ep-purple-shape-a18ej8fe-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
PORT=4000
VITE_API_URL=http://localhost:4000
